<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

<!--    &lt;!&ndash; 声明一个业务类 &ndash;&gt;-->
<!--    <bean id="testAopService" class="com.awakeyo.community.service.TestAopService">-->
<!--        <property name="name" value="lqhao"></property>-->
<!--    </bean>-->

    <!-- 声明通知类 -->
    <bean id="aspectBean" class="com.awakeyo.community.aop.TestAspect" />

    <aop:config>
        <aop:aspect ref="aspectBean">
            <aop:pointcut id="pointcut" expression="execution(* com.awakeyo.community.service.TestAopService..*(..))"/>

            <aop:before method="doBefore" pointcut-ref="pointcut"/>
<!--            <aop:after-returning method="doAfterReturning" pointcut-ref="pointcut" returning="result"/>-->
            <aop:after method="doAfter" pointcut-ref="pointcut" />
<!--            <aop:around method="doAround" pointcut-ref="pointcut"/>-->
<!--            <aop:after-throwing method="doAfterThrowing" pointcut-ref="pointcut" throwing="ex"/>-->
        </aop:aspect>
    </aop:config>
</beans>