 .main{
     margin:30px;
     margin-left: 60px;
     margin-right: 60px;
     background: snow;
     border: #e5e5e5 2px solid;
 }
 body{
     background: #698474;
 }
 .midia-body{
     padding-top: 10px;
 }
 .btn-publish{
     float: right;
     margin-bottom: 15px;
 }
 .msg-publish{
     margin-left: 40px;
     margin-right: 40px;
 }
 .img-public{
     width: 45px;
     height: 45px;
 }
 .img-comment{
     width: 25px;
     height: 25px;
 }
 .text-desc{
     font-size: 12px;
     font-weight: normal;
     color: #999999;
 }
 .text-import{
     font-size: 14px;
     font-weight: normal;
     color: #000000;
 }
 .img-index{
     width: 260px;
     height: 260px;
 }
 .text-size{
     font-size: 16px;
 }
 .text-color{
     color: #9d9d9d;
 }
 .img-val {
     height: 50px;
     display: flex;
     align-items: center;
 }
 .community-menu{
     color: #999;
     font-size: 12px;
     float: right;
 }
 .comment{
     margin-top: 10px;
     /*margin-bottom: 10px;*/
     padding-bottom: 10px;
 }
 .comment-reply{
     font-size: 12px;
     float: right;
 }
 .reply-common{
     margin-top: 10px;
     margin-left: 15px;
     border-left: #999999 3px solid;
     padding-left: 10px;
 }
 .left-box{
     border-right: #e5e5e5 3px solid;
 }
 .bottom-box{
     border-bottom: #e5e5e5 2px solid;
     padding-bottom: 2px;
 }
 .margin-bottom{
     margin-top: 10px;
 }
 .claerReply{
     float: right;
     margin: 8px;
     font-size: 14px;
 }
 .question-tag{
     margin: 2px;

 }
 .weight-less{
     width: 80px;
     overflow: hidden; /* 超出的部分隐藏起来 */
 }
 .height-less{
     height: 100px;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .color-aaaa{
     background: #698474;
 }
 .color-bbbb{
     background: #889e81;
 }
 .color-cccc{
     background: #bac7a7;
 }
 .color-dddd{
     background: #e5e4cc;
 }
 .public-selectTag{
     display: none;
     margin-top: 10px;

 }