<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >关于我 - 与我常在's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jq/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div>
<nav class="navbar navbar-default boxShadow "  role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menu" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" >与我常在's blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/aboutMe">关于我</a></li>
                <li><a href="/categories">博客分类</a></li>
                <li><a href="/updateLog">更新</a></li>
                <li><a href="/community">讨论区</a></li>
                <li><a href="/commentsRecord">留言区</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user!=null}">
                    <a href="/profile/replies">通知
                        <span class="badge" th:text="${session.unreadCount}">0</span>
                    </a>
                </li>
                <li  th:if="${session.user!=null}">
                    <a href="/publish">提问</a>
                </li>
                <div class="nav navbar-nav  img-val" th:if="${session.user!=null}">
                    <img height="40px" alt="Brand" class="img-rounded center-block" th:src="${session.user.avatarUrl}">
                </div>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.user.name}" ></span>
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出登陆</a></li>
                    </ul>
                </li>
                <li class="dropdown" th:if="${session.user==null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <span >登陆</span>
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
<!--                        <li><a href="https://github.com/login/oauth/authorize?client_id=f25c1cabc9f06377fa85&redirect_uri=http://localhost:8080/callback&scope=user&state=111">github登陆</a></li>-->
<!--                        <li role="separator" class="divider"></li>-->
                        <li><a href="/phoneLogin">手机号登陆</a></li>
                    </ul>
                </li>

                <li  th:if="${session.user==null}">
                    <a href="/phoneRegister">注册</a>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>
<div class="" style="width: 100%;text-align: center">
    <img class="img-title img-rounded boxShadow" src="/images/daitu.png" alt="...">
    <img class="img-title img-rounded boxShadow" src="/images/didala.png" alt="...">
    <img class="img-title img-rounded boxShadow" src="/images/peipei.png" alt="...">
</div>
<div class="container-fluid main">
    <div class="row ">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-right: #9d9d9d">
            <div class="page-header">
                <h2>Not fate<br><small style="margin-left: 100px">but what we make</small></h2>
            </div>
            <div class="page-header" STYLE="margin-left: 10PX">
                <h2>Tough times last<br><small style="margin-left: 70px">but tough man don't </small></h2>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-box  ">
            <!--            个人宣传-->
            <h1>关于我</h1>
            <img src="/images/haha.jpeg" style="width: 330px;height: 580px;" alt="..." class="img-rounded">
            <p class="blogtext" style="font-size: 17px">一个普普通通的巨蟹座程序猿，喜欢自我感动，常常用些热血句子(左边就有两句)来鼓励自己进行所谓'自我救赎'。</p>
            <p class="blogtext" style="font-size: 17px">遇到值得留恋的事情，常常会在朋友圈发上几百字的粤语小说，认定了一件事之后会不留余力的坚持到底。即使是知道结局,亦会倾其所有，最喜欢的电影明星是周星驰，坚持用一句<kbd>长江7号</kbd>里面星爷的一句"顶到既。顶到既。。。"来勉励自己</p>
            <p class="blogtext" style="font-size: 17px">习惯生活中说一些有星爷味道的烂get。最喜欢的两部电影。一部搞笑一部励志。一部是周星驰的<kbd>破环之王</kbd>(鬼仔达、魔鬼筋肉人、外卖仔)、还有一部是张家辉的<kbd>激战</kbd>(怯，你就输一世！)。</p>
            <p class="blogtext" style="font-size: 17px">
            热爱代码、足球。幻想着2022可以去卡塔尔看一场世界杯.</p>
            <!--            个人宣传-->
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <img  class="img-thumbnail img-index" src="http://oss.awakeyoyoyo.com/community/39197200.jpeg"
                      alt="lqhao">
                <div class="caption">
                    <h4>Lqhao</h4>
                    <P class="text-size text-color">Awakeyoyoyo</P>
                    <div>
                        <span class="glyphicon glyphicon-map-marker text-size "> 珠海</span>
                    </div>
                    <p>怕 你就输一辈子</p>
                    <a href="https://blog.csdn.net/awake_lqh">csdn主页</a>
                    <br>
                    <a href="https://github.com/Awakeyoyoyo">github主页</a>
                    <br>
                    <A href="mailto:lqh19980716@163.com">欢迎邮箱联系我
                    </A>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer::foot"></div>

</body>
</html>