<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>老兵之家</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/jq/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        .test {
            height: 50px;
            display: flex;
            align-items: center;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <a href="/" class="sr-only">老兵之家</a>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">老兵之家</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.name}">
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人中心</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登陆</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=f25c1cabc9f06377fa85&redirect_uri=http://localhost:8080/callback&scope=user&state=111">登陆</a>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right test" th:if="${session.user!=null}">
                <img height="40px" alt="Brand" class="img-rounded center-block" th:src="${session.user.avatarUrl}">
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>
            <hr>
            <div class="media" th:each="question:${pageResult.reslts}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded img-public"
                            th:src="${question.user.avatarUrl}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <br>
                    <p th:text="${question.decription}"></p>
                    <P class="text-desc" >
                        <span th:text="${question.commentCount}"></span>个回复-
                        <span th:text="${question.viewCount}"></span>浏览-
                        <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                        </P>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:href="@{/(pageNo=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/(pageNo=${pageResult.pageNo-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:class="${pageResult.pageNo==page}?'active':''" th:each="page:${pageResult.pages}">
                        <a  th:href="@{/(pageNo=${page})}" th:text="${page}"></a>
                    </li>
                    <li>
                        <a th:href="@{/(pageNo=${pageResult.pageNo+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/(pageNo=${pageResult.pageCount})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-right: #9d9d9d solid 1px">
            <h3>站主:</h3>
            <div>
                <img  class="img-thumbnail img-index" src="https://avatars0.githubusercontent.com/u/39197200?v=4"
                     alt="lqhao">
                <div class="caption">
                    <h4>Lqhao</h4>
                    <P class="text-size text-color">Awakeyoyoyo</P>
                    <div>
                       <span class="glyphicon glyphicon-map-marker text-size "> 珠海</span>
                    </div>
                    <p>怕 你就输一辈子</p>
                    <a href="mailto:#">lqh19980716@163.com</a>
                    <a href="#">github</a>
                    <a href="#">csdn</a>

                </div>
            </div>
            <h3>热门话题</h3>

        </div>
    </div>
</div>
</body>
</html>