<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页 - 与我常在's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/jq/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/comment.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="" style="height: 200px;width: 100%;text-align: center">
    <a href="/publishBlog"><img class="img-title img-rounded boxShadow" src="/images/daitu.png" alt="..."></a>
    <img class="img-title img-rounded boxShadow" src="/images/didala.png" alt="...">
    <img class="img-title img-rounded boxShadow" src="/images/peipei.png" alt="...">
    <img class="img-title img-rounded boxShadow" src="/images/you.png" alt="...">
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 left-box " style="border-right: #9d9d9d">

            <div class="color-aaaa musicBox boxShadow">
                <h4>我很清楚，我冇计错数，5首！</h4>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
                <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
                <div id="aplayer" class="aplayer"  data-id="4884354768" data-server="netease" data-type="playlist" data-fixed="false" data-listfolded="true" data-order="list" data-theme="#F58EA8" style="width: 100%"></div>
                <script src="https://unpkg.com/meting@1.2/dist/Meting.min.js"></script>
            </div>
            <div class="color-aaaa textbox boxShadow">
                <h3>站主:</h3>
                <div>
                    <img  class="img-thumbnail img-index" src="http://oss.awakeyoyoyo.com/community/39197200.jpeg"
                          alt="lqhao">
                    <div class="caption">
                        <h4>Lqhao</h4>
                        <P class="text-size text-color">Awakeyoyoyo</P>
                        <div>
                            <span class="glyphicon glyphicon-map-marker text-size "> 珠海</span>
                        </div>
                        <p>怕 你就输一辈子</p>
                        <a href="https://blog.csdn.net/awake_lqh">csdn主页</a>
                        <br>
                        <a href="https://github.com/Awakeyoyoyo">github主页</a>
                        <br>
                        <A href="mailto:lqh19980716@163.com">欢迎邮箱联系我</A>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 middle-box-index " >
            <div th:fragment="AticleBlog" id="AticleBlog">
            <h3 class="text-center">最新博客</h3>
            <br>
            <!--            博客-->
            <div class="panel panel-info" th:each="article:${pageResult.reslts}">
                <div class="panel-heading" style="padding: 3px 10px">
                    <h4><a th:href="'/Aritle/'+${article.id}" class="blogtext" th:text="${article.title}">comparator和comparable的区别</a></h4>
                </div>
                <div class="panel-body">
                    <P class="text-desc " >
                        <span class="glyphicon  glyphicon-user" aria-hidden="true"></span>
                        作者：<span th:text="${article.user.name}">lqhao</span> |
                        <span class="glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span>

                        发布时间：<span th:text="${#dates.format(article.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}">2019-07-16</span> |
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                        阅读数：<span th:text="${article.viewCount}">20</span>
                        <br>
                    </P>
<!--                    -->
                    <p class="blogtext" th:text="${article.decription}">
                         comparator和comparable都是用来实现集合中元素的排序比较的。Comparator位于包java.util下，而Comparable位于包java.lang下。他们之间的区别在于用法上。Comparator 是一个专用的比较器，当这个对象不支持自比较或者自比较函数不能满足你的要求时，你可以写一个比较器来完成两个对象之间大小的比较。Comparable 是一个对象本身就已经支持自比较所需要实现的接口（如 String、Integer 自己就可以完成比较大小操作，已经实现了Comparable接口），对自己写的类实现这一接口来实现按自己规则排序。总结起来就是comparator在外。comparable在内...
                    </p>
                    <p><h5><a th:href="'/Aritle/'+${article.id}" class="blogtext bottom-box btn-aaaa">阅读全文<span class="glyphicon glyphicon-menu-right"></span></a></h5></p>
                    <a class="btn-aaaa" href="#" th:each="tag:${article.tag.split(',')}">
                        <span class="label label-info question-tag ">
                            <span class=" question-tag glyphicon glyphicon-tags"></span>
                            <span class="label label-info" th:text="${tag}">java</span>
                        </span>
                    </a>
                </div>
            </div>

            <nav aria-label="Page navigation " class="PageStyle-blog" >
                <ul class="pagination">
                    <li>
                        <a  onclick="ajaxBlog(this)"
                            style="cursor: pointer"
                            th:attr="pageNo=1"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="ajaxBlog(this)"
                           style="cursor: pointer"
                           th:attr="pageNo=${pageResult.pageNo-1}"
                             aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:class="${pageResult.pageNo==page}?'active':''" th:each="page:${pageResult.pages}">
                        <a
                                style="cursor: pointer"
                                th:text="${page}"
                                th:attr="pageNo=${page}"
                                onclick="ajaxBlog(this)"
                        ></a>
                    </li>
                    <li>
                        <a
                                style="cursor: pointer"
                                th:attr="pageNo=${pageResult.pageNo+1}"
                                onclick="ajaxBlog(this)"
                                aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a
                                style="cursor: pointer"
                                th:attr="pageNo=${pageResult.pageCount}"
                                onclick="ajaxBlog(this)"
                                aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-right: #9d9d9d">
            <div class="textbox bg-danger boxShadow" >
                <div class="laoMei">
                <p>没有如果</p>
                <p style="margin-left: 40px">错过便是错过。</p>
                    <p style="margin-left: 170px;font-size: 20px">---lqh</p>
                </div>
            </div>
            <div class="textbox color-aaaa boxShadow">
                <h3>本站tip：</h3>
                <ul class="web-ul">
                    <li>
                        <p>'关于我'可以让你了解本站作者噢</p>
                    </li>
                    <li>
                        <p>'博客分类'可以有效的让你寻找你喜欢类型的博客</p>
                    </li>
                    <li>
                        <p>'更新'可以看到本博客一路是怎么走来的</p>
                    </li>
                    <li>
                        <p>'讨论区'可以发表你的问题噢</p>
                    </li>
                    <li>
                        <p>'留言区'可以让你在本站留下你的足迹</p>
                    </li>
                </ul>
            </div>
            <div class="textbox color-aaaa boxShadow">
                <h3>网站信息</h3>
                <ul class="web-ul">
                    <li>
                        <span class="glyphicon glyphicon-book"></span>
                        <span th:text="'博客总数：'+${webMessage.blogCount}+'篇'">文章总数：59 篇</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span th:text="'讨论区问题数：'+${webMessage.questionCount}+'个'">讨论区问题总数：11 篇</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="'博客标签数：'+${webMessage.tagCount}+'个'">标签总数：59 篇</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-edit"></span>
                        <span th:text="'留言区留言总数：'+${webMessage.recordCount}+'个'">留言总数：59 篇</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer::foot"></div>
<script>
</script>
</body>
</html>