<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body >
<div th:fragment="nav">
    <nav class="navbar navbar-default boxShadow " >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <a href="/" class="sr-only" >与我常在's blog</a>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" >与我常在's blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">首页</a></li>
                    <li><a href="#">分类</a></li>
                    <li><a href="#">归档</a></li>
                    <li><a href="#">更新</a></li>
                    <li><a href="/community">提问区</a></li>
                    <form class="navbar-form navbar-left" action="/" method="get">
                        <div class="form-group">
                            <input type="text" name="search" class="form-control"  placeholder="搜索问题">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user!=null}">
                        <a href="/profile/replies">通知
                        <span class="badge" th:text="${session.unreadCount}">0</span>
                    </a>
                    </li>

                    <li  th:if="${session.user!=null}">
                        <a href="/publish">提问</a>
                    </li>
                    <div class="nav navbar-nav  img-val" th:if="${session.user!=null}">
                        <img height="40px" alt="Brand" class="img-rounded center-block" th:src="${session.user.avatarUrl}">
                    </div>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.user.name}" ></span>
                            <span class="caret">
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登陆</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.user==null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span >登陆</span>
                            <span class="caret">
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/login/oauth/authorize?client_id=f25c1cabc9f06377fa85&redirect_uri=http://localhost:8080/callback&scope=user&state=111">github登陆</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/phoneLogin">手机号登陆</a></li>
                        </ul>
                    </li>

                    <li  th:if="${session.user==null}">
                        <a href="/phoneRegister">注册</a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>