<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">个人中心 - 与我常在's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jq/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="container-fluid main ">
    <div class="row color-aaaa">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 left-box">
            <h2><span th:text="${sectionName}"></span></h2>
<!--            question列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " th:if="${section=='questions'}">
                <hr><div class="media" th:each="question:${pageResult.reslts}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded img-public"
                             th:src="${question.user.avatarUrl}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <br>
                    <P class="text-desc" >
                        <span th:text="${question.commentCount}"></span>个回复-
                        <span th:text="${question.viewCount}"></span>浏览-
                        <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                        <a  th:href="@{'/publish/'+${question.id}}" th:if="${session.user!=null&&session.user.id==question.creator}" class="community-menu " >
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            编辑
                        </a>
                    </P>
                </div>
                <hr>
            </div>
            </div>
<!--             natification列别-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " th:if="${section=='replies'}">
                <hr><div class="media" th:each="notificationDto:${pageResult.reslts}">
                <div class="media-body">
                    <h5 class="media-heading" >
                        <span class="label label-danger" style="margin-right: 10px;" th:if="${notificationDto.status==0}">未读</span>
                        <span class="label label-success" style="margin-right: 10px;" th:if="${notificationDto.status==1}">已读</span>
                        <a href="#" th:text="${notificationDto.notifierName}"></a>
                        <span th:text="${notificationDto.type}"></span>
                        <a th:href="@{'/notification/'+${notificationDto.id}+'/'+${notificationDto.outerid}}" th:text="${notificationDto.outerTitle}"></a>
                    </h5>
                    <br>
                    <P class="text-desc" >
                        <span th:text="${#dates.format(notificationDto.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                    </P>
                </div>
                <hr>
            </div>
            </div>
<!--            分页  -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:href="@{'/profile/'+${section}(pageNo=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(pageNo=${pageResult.pageNo-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:class="${pageResult.pageNo==page}?'active':''" th:each="page:${pageResult.pages}">
                        <a  th:href="@{'/profile/'+${section}(pageNo=${page})}" th:text="${page}"></a>
                    </li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(pageNo=${pageResult.pageNo+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(pageNo=${pageResult.pageCount})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-right: #9d9d9d solid 1px">
            <br>
            <br>
            <br>
            <br>
            <div class="list-group">
                <a href="/profile/questions"  th:class="${section=='questions'}?'list-group-item disabled':'list-group-item'">
                    我的问题
                </a>
                <a href="/profile/replies" th:class="${section=='replies'}?'list-group-item disabled':'list-group-item'">
                    <span class="badge" th:text="${session.unreadCount}"></span>
                    最新通知
                </a>
            </div>
            <hr>
            <!--            个人宣传-->
            <h3>站主:</h3>
            <div>
                <img  class="img-thumbnail img-index" src="https://avatars0.githubusercontent.com/u/39197200?v=4"
                      alt="lqhao">
                <div class="caption">
                    <h4>Lqhao</h4>
                    <P class="text-size text-color">Awakeyoyoyo</P>
                    <div>
                        <span class="glyphicon glyphicon-map-marker text-size "> 珠海</span>
                    </div>
                    <p>怕 你就输一辈子</p>
                    <a href="https://blog.csdn.net/awake_lqh">csdn</a>
                    <br>
                    <a href="https://github.com/Awakeyoyoyo">github</a>
                    <br>
                    <a href="mailto:#">lqh19980716@163.com</a>

                </div>
            </div>
            <!--            个人宣传-->
        </div>
    </div>
</div>
<div th:insert="footer::foot"></div>

</body>
</html>