<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>分类 - 与我常在's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jq/jquery-3.4.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js" type="application/javascript"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default boxShadow "  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#menu" aria-expanded="true">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" >与我常在's blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">首页</a></li>
                    <li ><a href="/aboutMe">关于我</a></li>
                    <li><a href="/categories">博客分类</a></li>
                    <li  class="active"><a href="/updateLog">更新</a></li>
                    <li><a href="/community">讨论区</a></li>
                    <li><a href="/commentsRecord">留言区</a></li>
                </ul>
                <form class="navbar-form navbar-left" method="get" action="/">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索博客</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user!=null}">
                        <a href="/profile/replies">通知
                            <span class="badge" th:text="${session.unreadCount}">0</span>
                        </a>
                    </li>
                    <li  th:if="${session.user!=null}">
                        <a href="/publish">提问</a>
                    </li>
                    <div class="nav navbar-nav  img-val" th:if="${session.user!=null}">
                        <img height="40px" alt="Brand" class="img-rounded center-block" th:src="${session.user.avatarUrl}">
                    </div>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.user.name}" ></span>
                            <span class="caret">
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登陆</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.user==null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span >登陆</span>
                            <span class="caret">
                        </span>
                        </a>
                        <ul class="dropdown-menu">
<!--                            <li><a href="https://github.com/login/oauth/authorize?client_id=f25c1cabc9f06377fa85&redirect_uri=http://localhost:8080/callback&scope=user&state=111">github登陆</a></li>-->
<!--                            <li role="separator" class="divider"></li>-->
                            <li><a href="/phoneLogin">手机号登陆</a></li>
                        </ul>
                    </li>

                    <li  th:if="${session.user==null}">
                        <a href="/phoneRegister">注册</a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="" style="width: 100%;text-align: center">
    <img class="img-title img-rounded boxShadow" src="/images/daitu.png" alt="...">
    <img class="img-title img-rounded boxShadow" src="/images/didala.png" alt="...">
    <img class="img-title img-rounded boxShadow" src="/images/peipei.png" alt="...">
</div>
<div class="container-fluid main">
    <div class="row ">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="border-right: #9d9d9d">
            <div class="page-header">
                <h1>Tough times last<br><small style="margin-left: 70px">but tough man don't </small></h1>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 left-box  ">
            <div>
                <h1>更新日记</h1>
                <p style="font-size: 16px;padding-top: 20px">该模块发布于2020-3-3</p>
            </div>
            <div>
                <h3>#2020年4月7号</h3>
                <div class="blog-box-update">
                    <p>修复发布提问时标签出错的问题</p>
                    <p>修改了页面样式</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月29号</h3>
                <div class="blog-box-update">
                    <p>博客分类页面</p>
                    <p>标签前端的完善</p>
                    <p>添加页尾本站存活时间&首页完善</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月28号</h3>
                <div class="blog-box-update">
                    <p>关于我页面</p>
                    <p>修复通知bug</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月26号</h3>
                <div class="blog-box-update">
                    <p>讨论区列表异步加载</p>
                    <p>博客模块接口基本完成</p>
                    <p>博客页面1.0</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月25号</h3>
                <div class="blog-box-update">
                    <p>手机信息注册登陆OK</p>
                    <p>增加一个音乐播放器</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月24号</h3>
                <div class="blog-box-update">
                    <p>配置redis、编写redis工具类、并测试</p>
                    <p>手机短信注册模块1.0</p>
                    <p>手机登陆注册模块2.0</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月23号</h3>
                <div class="blog-box-update">
                    <p>配置redis、编写redis工具类、并测试</p>
                    <p>手机短信注册模块1.0</p>
                    <p>手机登陆注册模块2.0</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月22号</h3>
                <div class="blog-box-update">
                    <p>注册以及修改密码手机短信验证功能</p>
                    <p>手机登陆页面</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月20号</h3>
                <div class="blog-box-update">
                    <p>日志的追加</p>
                </div>
            </div>
            <div>
            <h3>#2020年2月19号</h3>
            <div class="blog-box-update">
                <p>页尾</p>
                <P>mysql正则表达式完成搜索</P>
            </div>
            </div>
            <div>
                <h3>#2020年2月17号</h3>
                <div class="blog-box-update">
                    <p>阿里oss上传图片2.0</p>
                    <P>gitignoreUpdate</P>
                    <p>富文本图片上传1.0测试</p>
                </div>
            </div>
            <div>
                <h3>#2020年2月16号</h3>
                <div class="blog-box-update">
                    <p>通知模块finish</p>
                    <P>通知模块前端编写</P>
                </div>
            </div>
            <div>
                <h3>#2020年2月15号</h3>
                <div class="blog-box-update">
                    <p>回复以及评论功能完成</p>
                    <P>回复前端bug修复</P>
                    <p>评论&回复2.0</p>
                </div>
            </div>
            <div>
                <h3>#2020年1月</h3>
                <div class="blog-box-update">
                    <p>过年偷懒去了。。。</p>
                </div>
            </div>
            <div>
                <h3>#2019年12月12号</h3>
                <div class="blog-box-update">
                    <p>全局异常处理&发现越权问题后期再处理</p>
                </div>
            </div>
            <div>
                <h3>#2019年12月3号</h3>
                <div class="blog-box-update">
                    <p>逆向生成代码完善</p>
                    <p>编辑页面以及后台封装了部分service</p>
                    <p>前端页面补充&拦截器配置</p>
                </div>
            </div>
            <div>
            <h3>#2019年12月4号</h3>
            <div class="blog-box-update">
                <p>引入lombok插件</p>
                <p>github头像显示前端优化</p>
            </div>
             </div>
            <div>
                <h3>#2019年12月2号</h3>
                <div class="blog-box-update">
                    <p>github登陆</p>
                    <p>github授权bug的解决</p>
                </div>
            </div>
            <div>
            <h3>#2019年12月1号</h3>
            <div class="blog-box-update">
                <p>初始化项目</p>
                <p>first commit</p>
            </div>
        </div>
        </div>
            <!--            个人宣传-->
            <!--            个人宣传-->
        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 left-box  ">
            <!--            个人宣传-->
            <!--            个人宣传-->
        </div>

    </div>
</div>
<div th:insert="footer::foot"></div>

</body>
</html>